# package directories
node_modules

# Serverless directories
.serverless

# compiled JS if any
echo.js

# secrets
.env

/build
./.build
package-lock.json
.env.production

.env*
.flaskenv*
!.env.project
!.env.vault
nodejs.zip
/nodejs
/dist